.modal__out {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
.modal__box {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    min-width: 100px;
    min-height: 100px;
    max-height: 90vh;
    max-width: 90vw;
}
.modal__close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.modal__close img {
    max-width: 40px;
    filter: brightness(20%);
}
.modal__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 768px) {
    .modal__box {
        margin: 15px;
    }
    .modal__out {
        overflow: hidden;
        align-items: unset;
    }
    .modal__input {
        line-height: 40px;
    }
    .modal__submit {
        margin-top: 10px;
    }
}